@media screen and (max-width: 20em){
    
    /*Font*/

    h1 {
        font: 2em sans-serif;
        text-align: center;
    }

    /*Button design*/

    #lot-menu {
        display: flex;
        height: 100%;
        width: auto;
    }

    #column-1 {
        width: 100%;
        height: 100%;
        justify-content: space-around, center;
        margin: auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    #column-2 {
        width: 100%;
        height: 100%;
        justify-content: space-around, center;
        margin: auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    #column-3 {
        width: 100%;
        height: 100%;
        justify-content: space-around, center;
        margin: auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    .lot-circle {
        width: 96px;
        height: 96px;
        border: 2px solid black;
        border-radius: 50%;       
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .lot-div { 
        width: 96px;
        height: 96px;
        margin-top: 9px;
        margin-bottom: 9px;
    }


    /*horizontal lines above and below the button menu*/

    #top-hr {
        margin-bottom: 30px;
    }

    #bottom-hr {
        margin-top: 30px;
    }

}






